
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class= "wrap">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<div id="login" class="login-form-container">
  <header>LOGIN - SIGN UP</header>
  <fieldset>

    <form action="" method="post" class="login-form">
        {% csrf_token %}

    <div class="input-wrapper"> Username <br> {{ form.username }}<br><br></div>
          <div class="input-wrapper"> Password <br> {{ form.password }}</div>
        <input type="submit" name="Login" value="Login" class="login-submit" />
    </form>
    </fieldset>

</div>
</div>
{% endblock content %}


{% block more_links %}
    <a href="{% url 'register' %}">Book Here !</a>

{% endblock more_links %}